body {
  background-color: #ffc773;
  font-family: 'Droid Serif', serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

#main {
  background-color: #ffebcc;
  -webkit-box-shadow: 0px 5px 5px rgba(0,0,0,0.4)
}

#header {
  padding: 0 20px;
}

#header h1 {
  font-family: 'Lobster', serif;
  font-size: 5em;
}

h1, h2 {
  text-shadow: 1px 1px 1px #ccc;
}

.column h1 {
  text-align: center;
  /*font-family: 'Lobster', serif;*/
  font-size: 2.1em;
}

.column h1,
.column > div {
  margin: 5px 10px;
}

.column > div {
  padding: 5px;
}

.column hr {
  margin: 3px 35px;
  height: 1px;
  color: #000;
  background-color: #000;
  border: none;
}

.column .name {
  font-weight: 600;
  font-size: 1.2em;
}

.column a {
  font-family: 'Droid Sans', serif;
  color: #575757;
  text-shadow: 1px 1px 2px #ccc;
  border-bottom: 1px dashed #575757;
}

.column a:hover {
  border: none;
}

.column .stat {
  width: 100%;
  text-align: right;
  font-size: 1.2em;
}

.stat span,
.stat a {
  color: black;
  font-weight: 500;
  text-shadow: 1px 1px 2px #444;
}

.stat a {
  border-bottom: 1px dashed black;
}

.stat a:hover {
  border-bottom: 1px dashed #bdbdbd;
}

.box div {
  margin: 10px;
}

#map_canvas {
  width: 400px;
  height: 400px;
  padding: 10px;
}

table.pretty {
  border-collapse: collapse;
}

.pretty td, .pretty th {
  padding: 4px 10px;
  border: 1px solid #AAA;
}
