.links
  %p
    Les données ouvertes, qu'est-ce que c'est? <a href="http://montrealouvert.net/donnees-ouvertes-questions-frequemment-demandees/">Lire plus +</a>
.attribution
  %p
    Les informations présentées sur ce site sont prises du site web de la ville de Montréal : <a href="http://ville.montreal.qc.ca/portal/page?_pageid=2136,2655580&_dad=portal&_schema=PORTAL&start=1&mois=INITIAL&url_xml=HTTP://VILLE.MONTREAL.QC.CA/pls/portal/portalcon.contrevenants_recherche?p_mot_recherche=,tous,">ici</a>. Resto-net.ca ne prend aucune responsabilité pour ces informations, si vous avez des commentaires ou des questions, contactez-nous <a href="mailto:jeff@tjwallace.ca">ici</a>.
  %p
    Ce site a été créé par <a href="http://tjwallace.ca">Jeff Wallace</a>
