.left
  %ul#nav
    %li= link_to ('Home'), root_path
    %li <a href="/establishments#index">Tous les restaurants</a>
    %li <a href="/establishments#index">À propos</a>
    %li.search Search field - enter here
