.grid10.prefix_1.suffix_1
  %p
    What is open data? <a href="http://montrealouvert.net/donnees-ouvertes-questions-frequemment-demandees/">Read more +</a>
  %p
    The information shown on this site are taken from the website of the City of Montréal : <a href="http://ville.montreal.qc.ca/portal/page?_pageid=2136,2655580&_dad=portal&_schema=PORTAL&start=1&mois=INITIAL&url_xml=HTTP://VILLE.MONTREAL.QC.CA/pls/portal/portalcon.contrevenants_recherche?p_mot_recherche=,tous,">here</a>. Resto-net.ca takes no responsibility for this information. If you have any questions or comments, contact us <a href="mailto:jeff@tjwallace.ca">here</a>.
  %p
    This site was created by <a href="http://tjwallace.ca">Jeff Wallace</a>.
