- stylesheet 'visualization'
%h2 Nombre de jours entre infraction et jugement

%ul.timeline
  - if @first_cutoff > 0
    = render 'pages/column', :first => 0, :last => @first_cutoff - 1, :value => @first_value, :klass => 'outlier'
  - @bars.each_with_index do |x,i|
    = render 'pages/column', :first => i * @step, :last => i * @step + @step - 1, :value => x, :klass => ''
  - if @last_cutoff < @max
    = render 'pages/column', :first => @last_cutoff, :last => @max, :value => @last_value, :klass => 'outlier'
